.Modal {
  position: absolute;
  z-index: 500;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
}

.close-btn {
  position: absolute;
  z-index: 999;
}

.Backdrop {
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:after {
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }
}
