.Movies {
  padding: 100px 20px 30px;
  position: relative;

  &__title {
    margin: 0 0 20px 10px;
    color: gray;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
